/* header */
.center-box .nav-list li:nth-child(2) a {
  color: burlywood !important;
  border-bottom: 2px solid burlywood;
}

/* main */
.main {
  width: 100%;
  height: auto;
}

.main .about {
  width: 100%;
  /* height: 100px; */
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
}

.banner {
  position: relative;
  overflow: hidden;
}

.banner .banner-img {
  width: 80%;
  margin: 0 auto;
}

.banner .banner-img img {
  width: 100%;
  display: none;
}

.banner .banner-btn {
  position: absolute;
  top: 91%;
  left: 12%;
}

.banner .banner-btn ul li {
  float: left;
  list-style-type: none;
  width: 180px;
  height: 54px;
  font-size: 15px;
  font-weight: 500;
  background: #DDDDDD;
  margin-right: 20px;
  padding: 18px;
  letter-spacing: 1px;
  cursor: pointer;
}

.clicked_tab {
  color: #fff;
  background: #3D65EA!important;
}

/* video */
.video {
  width: 50%;
  position: relative;
  margin: 30px auto 20px;
}

.video .title {
  width: 400px;
  height: 100px;
  text-align: center;
  margin: 0 auto;
}

.video .title h2 {
  font-weight: bold;
  margin-top: 0px;
}

.video .title h2:last-child {
  color: #DDDDDD;
}

.video .content {
  width: 100%;
}

/* process */

.about-item {
  width: 100%;
  position: relative;
}

.about-box .process {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.about-box {
  display: none;
}

.process .row h2 {
  width: 200px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
}

.process .timeline {
  width: 50%;
  margin: 10px auto;
  position: relative;
  overflow: hidden;
}

.timeline .timeline-item {
  width: 50%;
  height: 80px;
  text-align: left;
  border-bottom: 1px solid #eee;
  float: right;
  line-height: 20px;
  padding: 36px 10px 0;
  border-left: 1px solid #eee;
}

.timeline .timeline-item:nth-child(2n) {
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  border-left: none;
  float: left;
  margin-top: 80px;
}

.timeline .timeline-item:nth-child(2n+1) {
  margin-top: 80px;
}

.timeline .timeline-item:first-child {
  margin-top: 0;
  border-left: none;
}

/* about-box-2 */
.about-box:nth-child(2) {
  width: 80%;
  background: #F8F8F8;
  margin: 0 auto;
}
/* intro */
.intro {
  width: 60%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  letter-spacing: 1px;
}

.intro .title {
  margin-top: 30px;
}

.intro .title h3 {
  font-size: 22px;
  font-weight: bold;
}

.intro .title span {
  font-size: 18px;
}

.intro .i-content {
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* culture */
.culture {
  width: 50%;
  position: relative;
  margin: 30px auto 20px;
}

.culture .title {
  width: 400px;
  height: 100px;
  text-align: center;
  margin: 0 auto 20px;
}

.culture .title h2 {
  font-weight: bold;
  margin-top: 0px;
}

.culture .title h2:last-child {
  color: #DDDDDD;
}

.culture .content {
  width: 100%;
}

.culture .content img {
  width: 100%;
}

/* partner */
.partner {
  width: 50%;
  position: relative;
  margin: 30px auto 20px;
}

.partner .title {
  width: 400px;
  height: 100px;
  text-align: center;
  margin: 0 auto 20px;
}

.partner .title h2 {
  font-weight: bold;
  margin-top: 0px;
}

.partner .title h2:last-child {
  color: #DDDDDD;
}

.partner .content {
  width: 100%;
}

.partner .content img {
  width: 100%;
}

.partner .content img:first-child {
  margin-bottom: 40px;
}