/* main */
.main {
  width: 100%;
}

.main .search-result {
  width: 80%;
  margin: 10px auto 20px;
  text-align: center;
}

.search-result .row .result {
  width: 60%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}

.search-result .row .result h3:nth-child(2) {
  color: #DDDDDD;
  margin-top: 0;
}

.result-box {
  width: 80%;
  height: auto;
  overflow: hidden;
  position: relative;
  margin: 20px auto 30px;
}

.result-box .result-title {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 500;
  text-align: left;
}

.result-box .result-title span {
  color: #3D65EA;
}

.result-box .result-btn {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}

.result-box .result-btn ul {
  overflow: hidden;
  padding-left: 0;
}

.result-box .result-btn ul li {
  list-style-type: none;
  padding: 14px 60px;
  border: 1px solid #A8A8A8;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.clicked_position {
  color: #fff;
  background: #3D65EA;
}

/* back-top-btn */

.back-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  background: lightblue;
  border-radius: 20%;
  overflow: hidden;
  text-align: center;
  padding-top: 15px;
}